{%- if page.title -%}
  <title>{{ page.title }}</title>
{%- elsif site.title -%}
  <title>{{ site.title }}</title>
{%- elsif title? %}
  <title>{{ title }}</title>
{% endif %}
{% if page_title %}
  <meta property="og:title" content="{{ page_title }}" />
{% endif %}
{% if author.name %}
  <meta name="author" content="{{ author.name }}" />
{% endif %}
<meta property="og:locale" content="{{ page_locale }}" />
{% if description %}
  <meta name="description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="twitter:description" content="{{ description }}" />
{% endif %}
{% if site.url %}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta property="og:url" content="{{ canonical_url }}" />
{% endif %}
{% if site_title %}
  <meta property="og:site_name" content="{{ site_title }}" />
{% endif %}
{% if image %}
  <meta property="og:image" content="{{ image.path }}" />
  {% if image.height %}
    <meta property="og:image:height" content="{{ image.height }}" />
  {% endif %}
  {% if image.width %}
    <meta property="og:image:width" content="{{ image.width }}" />
  {% endif %}
  {% if image.alt %}
    <meta property="og:image:alt" content="{{ image.alt }}" />
  {% endif %}
{% endif %}
{% if page.date %}
  <meta property="og:type" content="article" />
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}
{% if paginator.previous_page %}
  <link rel="prev" href="{{ paginator.previous_page_path | absolute_url }}" />
{% endif %}
{% if paginator.next_page %}
  <link rel="next" href="{{ paginator.next_page_path | absolute_url }}" />
{% endif %}
{% if image %}
  <meta name="twitter:card" content="{{ page.twitter.card | default: site.twitter.card | default: "summary_large_image" }}" />
  <meta property="twitter:image" content="{{ image.path }}" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}
{% if image.alt %}
  <meta name="twitter:image:alt" content="{{ image.alt }}" />
{% endif %}
{% if page_title %}
  <meta property="twitter:title" content="{{ page_title }}" />
{% endif %}
<script type="application/ld+json">
  {{ json_ld | jsonify }}
</script>
