Source: bpp
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 10), pandoc, antlr4, libantlr4-runtime-dev, perl, nlohmann-json3-dev
Standards-Version: 3.9.3
Section: utils

Package: bpp
Version: 0.2
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libstd-bpp
Description: Bash with classes
 Bash++ is a superset of Bash which adds support for object orientation

Package: libstd-bpp
Version: 0.2
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Standard library for Bash++
 The standard library for Bash++ (common data structures and algorithms)
